@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide {
  from {
transform: translateX(0);
  }
  to {
    transform: translateX(-80%);
  }
}

.logos {
  overflow: hidden;
  padding: 80px 0;
  background-color: #f4fcff;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 10s slide linear infinite;
}

.logos-slide img {
  height: 100px;
  margin: 0 20px;
}

@media only screen and (max-width: 600px) {
  .logos {
    overflow: hidden;
    padding: 20px 0;
    background-color: #f4fcff;
  }
  .logos-slide img {
    height: 80px;
    margin: 0 15px;
  }
  
}